<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/php/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Dana PHP Uat Scripts">
            <directory>test/php</directory>
            <exclude>test/php/vendor</exclude>
        </testsuite>
    </testsuites>
</phpunit>
